.l-footer {
  padding-inline: var(--space-4);
  margin-block-end: var(--space-4);
  margin-block-start: var(--space-32);
}

.l-footer__title {
  color: var(--color-gray-300);
  font-size: var(--fontsize-4xl);
  font-family: var(--font-primary);
  font-weight: var(--font-exbold);
  line-height: 1;
  margin-block-start: var(--space-32);

  @media (--lg) {
    font-size: var(--fontsize-9xl);
  }
}

.l-footer__wrapper {
  margin-block-start: var(--space-4);
  display: flex;
  justify-content: space-between;
}

.l-footer__contact-items {
  display: flex;
  gap: var(--space-4);
}

.l-footer__contact-item {
}
