.p-single__work {
  padding-block-start: var(--space-32);
}

.p-single__work-thumbnail {
  img {
    height: auto;
  }
}
.p-single__work-inner {
  grid-column: 1 / 13;

  @media (--lg) {
    grid-column: 3 / -3;
  }
}

.p-single__work-meta {
  margin-block-start: var(--space-2);
}

.p-single__work-tags {
  display: flex;
  gap: var(--space-2);

  li {
    font-size: var(--fontsize-sm);
    font-family: var(--font-mono);
    color: var(--color-secondary);
  }
}

.p-single__work-title {
  margin-block-start: var(--space-16);
  font-weight: var(--font-bold);
}

.p-single__work-url {
  margin-block-start: var(--space-2);
  font-size: var(--fontsize-sm);
  font-family: var(--font-mono);
  color: var(--color-secondary);
}

.p-single__work-content {
  margin-block-start: var(--space-10);

  h2 {
    font-size: var(--fontsize-2xl);
    font-weight: var(--font-bold);
    margin-block-start: var(--space-8);
    margin-block-end: var(--space-4);
  }

  h3 {
    font-size: var(--fontsize-lg);
    font-weight: var(--font-bold);
    margin-block-start: var(--space-4);
    margin-block-end: var(--space-4);
  }

  :where(p, ul) {
    margin-block-start: var(--space-4);
  }

  ul {
    border: 1px solid var(--color-border-dark);
    padding-inline-start: var(--space-10);
    padding-inline-end: var(--space-4);
    padding-block: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    li {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--color-accent);
        border-radius: var(--rounded-full);
        top: 10px;
        left: calc(-1 * var(--space-6));
      }
    }
  }

  table {
    background-color: var(--color-surface);
    margin-block-start: var(--space-4);
    margin-block-end: var(--space-8);
    table-layout: fixed;
    width: 100%;
    font-size: var(--fontsize-sm);
    border: 0;

    tbody {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      padding: var(--space-4);
    }

    :is(tr, th, td) {
      border: 0;
      margin: 0;
      padding: 0;
    }

    tr {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);
    }

    td:first-child {
      font-size: var(--fontsize-xs);
      font-weight: var(--font-semibold);
    }

    @media (--lg) {
      table-layout: auto;

      tr {
        flex-direction: row;
        gap: var(--space-4);

        td:first-child {
          width: 30%;
        }
      }
    }
  }
}
