/* セクションの読み込み */
@import "./_hero.css";
@import "./_works.css";
@import "./_aboutme.css";
@import "./_single.css";
@import "_nav.css";

body {
  background-color: var(--color-body);
  color: var(--color-primary);
}

.p-gridline {
  background-image:
    linear-gradient(to right, var(--color-gray-200) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-gray-200) 1px, transparent 1px);
  position: fixed;
  background-size: 100px 100px;
  width: 100dvw;
  height: 100dvh;
  z-index: -2;
}

.p-viewport {
  border: 1px solid var(--color-border-dark);
  height: calc(100% - var(--space-4));
  width: calc(100% - var(--space-4));
  top: var(--space-2);
  left: var(--space-2);
  position: fixed;
  margin-inline: auto;
  z-index: -1;

  @media (--md) {
    height: calc(100% - var(--space-8));
    width: calc(100% - var(--space-8));
    top: var(--space-4);
    left: var(--space-4);
  }
}
